<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>nli-book-reader-viewer</display-name>
  <servlet>
    <servlet-name>NliBookReaderViewer</servlet-name>
    <servlet-class>bookreader.viewer.NliBookReaderViewer</servlet-class>
     <init-param>
    	<param-name>bookreaderPropertyFile</param-name>
        <param-value>/WEB-INF/prop/props.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>NliBookReaderViewer</servlet-name>
    <url-pattern>/NliBookReaderViewer</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>NliBookReaderViewer</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>language</param-value>
  </context-param>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
</web-app>